<% include ../partials/header %>

<h1>Welcome to the dashboard</h1>

<div class="row">
<div class="col">
    <h2>Alle prosjekter</h2>
<% projects.forEach(function(projects){ %>
    <div class="list-group-item list-group-item" id="dashboard">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= projects.title %></h5>
        <small class="text-muted"><%= moment(projects.createdAt).fromNow() %></small>
        </div>
        <p class="mb-1"><%= projects.text %></p>
        <small class="text-muted"><%= projects.author.username %> - <span id="showing"></span></small>

        <!-- FJERNER PROSJEKTET FRA PÅGÅENDE -->
        <a href="/<%= projects._id %>" id="showBtn"><i class="far fa-eye"></i></a>
        <form class="commentDelete" action="/<%=projects._id%>?_method=DELETE" method="POST">
             <button type="submit" id="deleteBtn"><i class="far fa-trash-alt"></i></button>
        </form>

        
    </div>
<% }) %>
</div>
<div class="col">
    <h2>Prosjekter som er til produksjon</h2>
    <% selected.forEach(function(selected){ %>
        <div class="list-group-item list-group-item" id="dashboard" style="background-color: #669999">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= selected.title %></h5>
                <small class="text-muted"><%= moment(selected.createdAt).fromNow() %></small>
                </div>
                <p class="mb-1"><%= selected.text %></p>
                <small class="text-muted"><%= selected.author.username %> - <span id="showing"></span></small>
                <form class="commentDelete" action="/<%=selected._id%>?_method=DELETE" method="POST">
                    <button type="submit" id="deleteBtn"><i class="far fa-trash-alt"></i></button>
               </form>
            </div>
    <% }) %>
</div>

</div>

<% include ../partials/footer %>