<% include ../partials/header %>

<h1>Welcome to the dashboard</h1>

<% projects.forEach(function(projects){ %>
    <a href="/<%= projects._id %>" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= projects.title %></h5>
        <small class="text-muted"><%= projects.createdAt %></small>
        </div>
        <p class="mb-1"><%= projects.description %></p>
        <small class="text-muted"><%= projects.author.username %></small>
    </a>
<% }) %>

<% include ../partials/footer %>